# don't ring the bell - just list the matches
set show-all-if-unmodified on
# ignore case when completing
set completion-ignore-case on
# list matches if more than one
set show-all-if-ambiguous on
# sort horizontally first
set print-completions-horizontally on
# set editing-mode to emacs
set editing-mode emacs

"\e[B":history-search-forward
"\e[A":history-search-backward
